.collection-preview {
  display: flex;
  flex-direction: column;

  .title {
    font-size: 28px;
    margin-bottom: 25px;
  }

  .preview {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
  }
}
