.main-menu {
  width: 120%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top:5vh;
  margin-bottom:5vh;
  
  .banner-headline{
    width:100vw;
    text-shadow:none;
    font-size:5rem;
    margin:2vh 0;
    text-decoration:none;
    
    .genres{
      height:60%;
      width:auto;
      margin-left:2vw;
    }
  }
}