$minWidthItem:660px;
$maxWidthItem:1030px;

.card-wrapper{
  display: flex;
  flex-direction: row;

  .card{
    width:49.5vw;
    height:100vh;
  }

  .card1{
    background-image: url(../../assets/img/artist.jpg);
    background-size: cover;
  }

  .card2{
    background-image: #f0f0f0;
    box-shadow: 5px 5px 15px 5px #000000;
  }
}

@media screen and (max-width: $minWidthItem){
  .card-wrapper{
    flex-direction: column !important;
  }
  .card{
    min-width:100vw;
  }
  
}


