h3{
    width:100%;
    text-align: center;
    font-size: 2.25rem;
}

.square{
    margin-left:30%;
    display:flex;
    flex-direction: column;
    counter-reset: list-counter;
    list-style: none;
    float:left;
    
}
.square li{
    margin: 2.5em 0;
}
.square li:before{
    content: counter(list-counter);
    counter-increment: list-counter;
    width: 0.85em;
    height: 0.85em;
    padding: .5em;
    margin-right: 1em;
    border: .25em solid rgb(23, 190, 231);
    background: rgb(13, 6, 46);
    color: #fff;
    font-family: arial;
    font-weight: bold;
    text-align: center;
    box-shadow: 5px 5px 15px 5px #000000;
}
