.footer{
  display:flex;
  flex-direction: row;
  width:100vw;
  height:40vh;
  padding-top:10vh;
  background-color:black;
  text-align: center;
  color:white;
  
  
  .middle-footer, .right-footer, .left-footer{
    width:33%;
    a{
      text-decoration: none;
      color:black;
      font-size:10px;

      &:hover{
        background-color:black;
        color:white;
      }
    }
  }
}