.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 10vw;
  
}


.banner-image{
  width: 99.6vw;
  height:75vh;
  background-image: url(../../assets/img/figmatry.png);
  color: white;
  font-size: 5rem;
  text-align: center;
  padding-top:10%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position:top;
  margin-bottom:25px;
}

.banner-headline{
  text-decoration: underline;
  font-weight: 700;
  text-shadow: 3px 3px 4px #111, 6px 6px 8px #222,  16px 16px 25px #444, 32px 32px 50px #888, 64px 64px 100px #fff;
  
  font-size: 2.25rem;
}

.fullwidth{
  width:100vw;
  height:20vh;
  background-color:rgba(255, 255, 255, 0.705);
}

.margin-bot-top{
  margin-bottom: 5vh;
  margin-top:1vh;
}

.scroll-down-button{
  width:32%;
  height:8.5%;
  background-color:none;
  margin-left:34%;
  color: white;
  font-size:40%;
  font-weight: 700;
  border:solid white 2px;
  cursor:pointer;
  text-decoration: none;
  min-height:40px;

  &:hover{
    background-color:white;
    text-decoration: underline;
    color:black;
    border:solid black 2px;
  }

  .shopping-banner-icon{
    height:80%;
    text-decoration: none;
  }


}

.option{
  text-decoration: none;
}

.banner-head-image{
  background-image: url(../../assets/painting.png);
  width:40vw;
  height:30vh;
  margin-left: 30vw;
  background-size: cover;
  opacity:0.75;
  background-position:contain;
}

.undraw-cart{
  margin-left:15%;
  width:20%;
  height:250px;
  background-image: url(../../assets/iso-guy.png);
  background-size:cover;
  background-repeat: no-repeat;
  background-position: top;
  margin-top: 3vh;
  margin-bottom: 3vh;
  margin-left:40%;
  opacity: 0.65;
}

.big-logo{
  width:80vw;
  height: 20vh;
}